* {
    margin: 0;
    padding: 0;
}

#header {
    background-color: rgb(68,179,158);
    margin:0;
    padding:0;
    height: 92px;
}

.main-title{
    margin: 0 40px;
    font-size:24px;
    font-weight: normal;
    line-height: 92px;
}
.main-title a {
    color: #fff;
    text-decoration: none;
}
.gnav{
    display:flex;
    position: absolute;
    top:0;
    right:0;
}
.gnav-list{
    display:inline;
}
.gnav-list-item{
    padding: 0;
    display:inline;
    line-height:92px;
}
.gnav-list-item a {
    padding: 0 10px;
    margin: 0 10px;
    color:#fff;
    text-decoration: none;
}
.main-area{
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content:center;
    height:600px;
    background-color:#41BAA4;
}
.main-area-title{
    color:#fff;
    margin-bottom: 24px;
    text-align: center;
    font-size:32px;
    font-weight: normal;
}
.main-area-description{
    color:#fff;
    font-size:14px;
    margin:0 auto;
    width:90%;
    max-width:700px;
}
.entry{
    margin:0 0.5%;
    max-width: 220px;
    display:flex;
    flex-direction:column-reverse;
}
.entry img{
    max-width:200px;
    display:block;
}
.entry-list-item{
    margin:8px 0px;
    text-align:center;
    background-color:#41BAA4;
    color:#fff;
    display:inline-block;
    font-size:14px;
    padding:6px 16px;
    max-width:50%;
}
.entry-main{
    display:flex;
    align-items:flex-start;
    justify-content:center;
}
.entry-item{
    display:inline-block;
    color:#241913;
}
.entry-title{
    text-align:center;
    color:#241913;
    padding:30px 0px;
    font-size:24px;
}
.entries-title{
    text-align:center;
    color:#241913;
    padding:30px 0px;
    font-size:24px;
}
.features-title{
    padding:50px;
    background-color:#3B4552;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:28px;
    margin-top:60px;
}
.header:after{
    content:'';
    display:block;
    margin: 0 auto;
    left:0;
    right:0;
    bottom:-80px;
    width:0;
    height:0;
    border:50px solid;
    border-color:transparent;
    border-top:30px solid #3B4552;
}
.title{
        padding:50px;
    background-color:#3B4552;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:28px;
    margin-top:60px;
}
.content-title{
        padding:50px;
    background-color:#3B4552;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:28px;
    margin-top:60px;
}
.inquiries-title{
        padding:50px;
    background-color:#3B4552;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:28px;
    margin-top:60px;
}
